/* attributes na pwedeng idesign

a
signup_style
login_style
button
p
input
cursor 
label
*/
body{
	
	background-image: url("img/header.jpg");
	font-family: "Century Gothic";
	
}
.link{
    color: white;	
    text-decoration: none;	
}
.black}{
	color:black;
}
label,p {
    font-family: "Century Gothic";
	color:black;
}

.login_style {
	color:#000066;
	width:50%;
	border:3px solid  #e65c00;
	border-bottom:5px solid #ff3333 ;
	border-bottom:5px solid #ffb3b3 ;
	border-radius: 5px;
	padding: 10px;
    background:white;
}

div{
	opacity: 0.9;
	background:white;
}

.signup_style {
	text-align:center;
	width:50%;
	border:3px solid  #e65c00;
	border-bottom:5px solid #ffb3b3 ;
	border-radius: 5px;
    padding: 10px;
}
form {
	font-family: "Century Gothic";
	color:white;
	background: white;
	text-align:center;
	padding: 4px;
	font-size:20;
}
.form1 {
	background:white;
}
.form_black {
	background:#404040;
}
.button{
  border: 2px solid  #e63900;
  color:#e64d00;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.6s;
  cursor: pointer;
  border-radius:10%;
}
.button {
  
  background-color: #e64d00; 
  color: white; 
}
.button:hover {
  background-color: #ff6600;
  color: white;
}
button{
  border: 2px solid  #e63900;
  color:#e64d00;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.6s;
  cursor: pointer;
  border-radius:10%;
}
button {
  
  background-color: #e64d00; 
  color: white; 
}
button:hover {
  background-color: #ff6600;
  color: white;
}


.hoverwhite{
	color: #ff5c33;
	font-size: 30;
}
.sign{
	color:black;
	text-decoration: none;
}
.sign:hover{
	color:#ff5c33;
}
.padding 